# [ BASIC DETAILS ]
PROJECT_NAME = "fluent-demo"
PORT = 9999
ERROR_HANDLE = false

# [ DATABASE ]
DB_HOST = "127.0.0.1"
DB_PORT = 27017
DB_NAME = "fluent-demo"

JWT_SECRET = "1234567890"
API_VERSION_v1 = v1